<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="panel-title title-padding-lg"><b>Supplier:</b></h4>
          </div>
          <div class="col-sm-6" style="margin-top: 8px;">
          </div>
        </div>
      </div>
      <% if @purchase.supplier.present? %>
        <%= render 'admin/suppliers/supplier_info', supplier: @purchase.supplier %>
      <% else %>
        <p>Unknown Supplier</p>
      <% end %>
    </div>
  </div>

  <div class="col-sm-5">
    <%= render 'admin/suppliers/invoice_general_info', invoice: @purchase %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default jobs-board product-barcodes">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h4 class="panel-title title-padding-lg">Order Items</h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <th>Image</th>
            <th>Code</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Order Qty</th>
            <th>Received Qty</th>
            <th>Profit(%)</th>
            <th>Total</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody id="pos-sales-products-tbody">
          <% @purchase.items.each do |item| %>
            <%= render 'admin/suppliers/invoice_item_row', item: item %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default jobs-board product-barcodes">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h4 class="panel-title title-padding-lg">Order Refund Items</h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div>
          <label>Refund Reason: </label>
          <span class="refund-reason"><%= @purchase.order_refund.refund_reason if  @purchase.order_refund.present? %></span>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>Image</th>
            <th>Code</th>
            <th>Name</th>
            <th>Return Date</th>
            <th> Amount</th>
            <th>created Date</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="pos-sales-return-tbody">
          <% if @purchase.order_refund.present? %>
            <% @purchase.order_refund.items.each do |item| %>
              <%= render 'admin/suppliers/refunded_item', item: item %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'admin/suppliers/invoice_summary', invoice: @purchase %>