<% content_for :page_title do %>
  Subscriber List
<% end %>

<% if @subscribers.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subscribed At</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.email.split('@').first %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber.created_at.strftime('%B %d, %Y at %H:%M %p') %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= t(:no_resource_found, resource: 'Products') %>
  </div>
<% end %>
<%= paginate @subscribers, theme: 'twitter-bootstrap-4' %>