<% content_for :page_title do %>
  <%= render partial: 'admin/shared/suppliers_module', locals: {current: :account} %>
<% end %>
<% content_for :page_title do %>
  <%= link_to t(:suppliers), admin_suppliers_path %> /
  <%= link_to t(:invoices), admin_suppliers_invoices_path %> /
  <%= "New Invoice" %>
<% end %>

<% content_for :page_actions do %>
  <%= render "admin/shared/supplier_links"  %>
<% end %>
<div data-hook="admin_user_new_form_header">
  <%= render :partial => 'admin/shared/error_messages', :locals => {:target => @suppliers_invoice} %>
</div>

<div data-hook="admin_user_new_form">
  <%= form_for [:admin, @suppliers_invoice], url: admin_suppliers_invoices_url, method: :post do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

    <div data-hook="admin_user_new_form_buttons">
      <%= render 'admin/shared/form_actions', record: f.object, cancel: admin_suppliers_invoices_path %>
    </div>
  <% end %>
</div>
