<p id="notice"><%= notice %></p>

<h1>Admin Suppliers Text Messages</h1>

<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Employee</th>
      <th>Content</th>
      <th>Direction</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_suppliers_text_messages.each do |admin_suppliers_text_message| %>
      <tr>
        <td><%= admin_suppliers_text_message.supplier_id %></td>
        <td><%= admin_suppliers_text_message.employee_id %></td>
        <td><%= admin_suppliers_text_message.content %></td>
        <td><%= admin_suppliers_text_message.direction %></td>
        <td><%= admin_suppliers_text_message.read %></td>
        <td><%= link_to 'Show', admin_suppliers_text_message %></td>
        <td><%= link_to 'Edit', edit_admin_suppliers_text_message_path(admin_suppliers_text_message) %></td>
        <td><%= link_to 'Destroy', admin_suppliers_text_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Suppliers Text Message', new_admin_suppliers_text_message_path %>
