<div class="syftet-footer-profile clearfix">
  <section class="container news-letter-wrapper">
    <div class="newsletter-container">
      <h3 class="newsletter-title">Subscribe to our newsletter</h3>
      
      <p class="newsletter-text"><%= t(:join_our_email_text) %></p>
      
      <div class="newsletter-form">
        <%= form_for NewsletterSubscription.new, url: email_subscription_path, remote: true do |f| %>
          <div class="newsletter-input-group">
            <%= f.email_field :email, class: 'newsletter-input', placeholder: "#{t(:enter_your_email)}..." %>
            <button type="submit" class="newsletter-btn">
              <%= t(:subscribe) %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="footer-new">
    <div class="container new-footer">
      <div class=" footer-container">
        <div class="container-div">
          <h3>About</h3>
          <p>About Us</p>
          <p>Contact us</p>
          <p>Privacy Policy</p>
          <p>Terms and Conditions</p>
        </div>
        <div class="container-div">
          <h3>Our Services</h3>
          <p>Urgent Delivery</p>
          <p>Regular Delivery</p>
          <p>Track Orders</p>
          <p>help & Support</p>
        </div>
        <div class="container-div">
          <h3>Account</h3>
          <p>My Account</p>
          <p>Order History</p>
          <p>Wishlist</p>
          <p>FAQs</p>
        </div>
        <div class="container-div footer-last-col">
          <h3>Follow Us</h3>
          <div class="footer-last-div">
            <%= link_to "#" do %>
              <i class="fa-brands fa-square-facebook fa-2x"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fa-brands fa-square-x-twitter fa-2x"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fa-brands fa-square-instagram fa-2x"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-divider"></div>
  </section>
</div>
