<div id="mainCarousel" class="container carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @sliders.each_with_index do |slider, index| %>
      <li data-target="#mainCarousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @sliders.each_with_index do |slider, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <%= image_tag(slider.image_url, class: 'img-responsive center-block') %>

        <!-- Bottom-left caption overlay -->
        <div class="carousel-caption custom-caption-left">
          <% if slider.try(:title).present? %>
            <h3><%= slider.title %></h3>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mainCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
