<% content_for :page_title do %>
  Gallery Images
<% end %>

<% content_for :page_actions do %>
  <%= link_to new_admin_gallery_image_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus" aria-hidden="true"></i> New Image
  <% end %>
<% end if can?(:create, Admin::GalleryImage) %>

<table class="table">
  <thead>
  <tr>
    <th>Image</th>
    <th>Position</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @gallery_images.each do |gallery_image| %>
    <tr>
      <td><%= image_tag gallery_image.image_url(:mini) %></td>
      <td><%= gallery_image.position %></td>
      <td><%= link_to 'Edit', edit_admin_gallery_image_path(gallery_image) %></td>
      <td><%= link_to 'Destroy', admin_gallery_image_path(gallery_image), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @gallery_images, theme: 'twitter-bootstrap-4' %>
