<% content_for :page_title do %>
  <%= link_to 'Products', admin_products_path %> /
  New Product
<% end %>

<%= form_for [:admin, @product] do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being
        saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :code %>
        <%= form.text_field :code, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :cost_price %>
        <%= form.text_field :cost_price, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :sale_price %>
        <%= form.text_field :sale_price, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :barcode %>
        <%= form.text_field :barcode, class: 'form-control' %>
        <span class="color-warning">Barcode generates automatically if you leave it blank.</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :pre_order %> <br>
        <div class = 'form-control'>
          <%= form.radio_button :pre_order, true %>
          <%= form.label :pre_order, 'Yes', :value => "true" %>
          <%= form.radio_button :pre_order, false, :checked => true %>
          <%= form.label :pre_order, 'No', :value => "false" %>
        </div>
      </div>
    </div>
  </div>


  <%= render 'admin/shared/form_actions', cancel: admin_products_path, record: form.object %>
<% end %>

<script type="text/javascript">
  $(function () {
  });
</script>
