<% product = item.product.present? ? item.product : item.invoice_item.product %>
<% if product.present? %>
  <tr id="pos-sales-return-item-<%= item.id %>">
    <td>
      <%= mini_image(product) %>
    </td>
    <td>
      <%= product.code %>
    </td>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      <%= item.amount %>
    </td>
    <td>
      <%= item.created_at %>
    </td>
    <td>
    </td>
  </tr>
<% end %>