<%= render partial: 'admin/suppliers/sidebar', locals: {current: :account} %>
<%#= render partial: 'admin/users/user_page_actions' %>

<% content_for :page_title do %>
  <%= @supplier.email %>
<% end %>

<div data-hook="admin_user_edit_general_settings" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= t(:general_settings) %>
    </h1>
  </div>

  <div class="panel-body">
    <div data-hook="admin_user_edit_form_header">
      <%= render partial: 'admin/shared/error_messages', locals: {target: @supplier} %>
    </div>

    <div data-hook="admin_user_edit_form">
      <%= form_for [:admin, @supplier], as: :user, url: admin_supplier_path(@supplier), method: :put do |f| %>
        <%= render partial: 'form', locals: {f: f} %>

        <div data-hook="admin_user_edit_form_button">
          <%= render 'admin/shared/form_actions', record: f.object, cancel: admin_suppliers_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%#= render 'admin/users/lifetime_stats' %>
