<div class="featured-card">
  <div class="fc-image">
    <a title="<%= product.name %>" href="<%= product_path(product) %>">
      <%= product_preview_image(product) %>
    </a>
  </div>

  <div class="fc-body">
    <h5 class="fc-title"><%= link_to product.name, product_path(product) %></h5>
    <% if product.description.present? %>
      <p class="fc-desc"><%= truncate(strip_tags(product.description), length: 100) %></p>
    <% end %>

    <div class="fc-price">
      <% if product.discountable %>
        <span class="fc-price-current"><%= amount_with_currency(product.price) %></span>
        <span class="fc-price-old"><%= amount_with_currency(product.sale_price) %></span>
      <% else %>
        <span class="fc-price-current"><%= amount_with_currency(product.price) %></span>
      <% end %>
    </div>

    <div class="fc-actions">
      <% if product.total_on_hand > 0 || product.pre_order == true %>
        <button class="fc-btn fc-btn-add-to-cart" onclick="addToCart(<%= product.id %>)">
          <i class="fa fa-shopping-cart"></i> Add to Cart
        </button>
      <% else %>
        <button class="fc-btn fc-btn-out-of-stock" disabled>
          <i class="fa fa-times-circle"></i> Out of Stock
        </button>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>
